{{!< default}}
{{#author}}
<header class="site-head" style="background-image: url({{cover}})">
    <div role="banner" class="header">
        {{#if image}}
            <div class="authorimage" style="background-image: url({{image}})"></div>
        {{/if}}
        <h1 class="blogtitle"><span itemprop="author">{{name}}</span></h1>
        <p class="blogdescription">{{bio}}</p>
        {{#if location}}
            <h5 class="authordata"><i class="fa fa-map-marker"></i>{{location}}</h5>
        {{/if}}
        {{#if website}}
            <h5 class="authordata"><i class="fa fa-link"></i><a href="{{website}}">{{website}}</a></h5>
        {{/if}}
            <h5 class="authordata"><i class="fa fa-file-text"></i>{{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}</h5>
    </div>
</header>
{{/author}}

<main class="main" role="main">
    <div class="back">
        <p class="go-back go-home"><a class="fa fa-long-arrow-left" href="{{@blog.url}}"><span>Back to the front page</span></a></p>
    </div>

    {{#foreach posts}}

        <article class="article">
            <header class="postheader">
                <ul>
                    <li><time class="date">
                    {{date format='dddd DD MMM YYYY'}}</time></li>
                    {{#if tags}}
                    <li class="posttags">
                    {{tags  separator=", "}}
                    </li>
                    {{/if}}
                </ul>
                <h2 class="posttitle"><a href="{{{url}}}" rel="bookmark">
                    {{title}}
                </a></h2>
            </header>

            <div class="postcontent">
                <p>{{excerpt}}&hellip;</p>
            </div>

            <footer class="excerptfooter" >
                <section class="read">
                    <a class="more" href="{{{url}}}">Read More</a>
                    <span></span>
                    <a class="comments" href="{{url}}#disqus_thread" data-disqus-identifier="{{id}}">Comments</a>
                </section>

                <section class="share">
                    <h4>Share: &nbsp;</h4>
                    <a class="fa fa-twitter-square" target="_blank" href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}"><span class="hidden">Twitter</span></a>
                <a class="fa fa-facebook-square" target="_blank" href="http://www.facebook.com/sharer.php?u={{url absolute="true"}}"><span class="hidden">Facebook</span></a>
                <a class="fa fa-google-plus-square" target="_blank" href="https://plus.google.com/share?url={{url absolute="true"}}"><span class="hidden">Google+</span></a>
                </section>
            </footer>

        </article>
    {{/foreach}}

    {{#if pagination}}
    <div class="pagination">
        {{{pagination}}}
    </div>
    {{/if}}

</main>
{{> footer}}
