{{!< default}}

{{> header_inner}}

<main class="main" role="main">
<hr class="pause" />
    {{#foreach posts}}
        <article class="article">

            <header class="postheader">
                <ul>
                    {{#if author.image}}<li><img class="author-thumb" src="{{author.image}}" alt="Author image" nopin="nopin" /></li>{{/if}}
                    <li class="name-thumb"><a href="{{@blog.url}}/author/{{author.slug}}">{{author.name}}</a></li>
                    <li class="date"><time>
                    {{date format='dddd DD MMM YYYY'}}</time></li>
                    {{#if tags}}
                    <li class="posttags">
                    {{tags  separator=", "}}
                    </li>
                    {{/if}}
                </ul>

                <h2 class="posttitle"><a href="{{{url}}}" rel="bookmark">
                    {{title}}
                </a></h2>

            </header>

            <div class="postcontent">
                <p>{{excerpt}}&hellip;</p>
            </div>
            <footer class="excerptfooter">
                <section class="read">
                    <a class="more" href="{{{url}}}">Read More</a>
                    <span></span>
                    <a class="comments" href="{{url}}#disqus_thread" data-disqus-identifier="{{id}}">Comments</a>
                </section>

                <section class="share">
                    <h4>Поделиться: &nbsp;</h4>
                    <a class="fa fa-twitter-square" target="_blank" href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}"><span class="hidden">Twitter</span></a>
                <a class="fa fa-facebook-square" target="_blank" href="http://www.facebook.com/sharer.php?u={{url absolute="true"}}"><span class="hidden">Facebook</span></a>
                <a class="fa fa-google-plus-square" target="_blank" href="https://plus.google.com/share?url={{url absolute="true"}}"><span class="hidden">Google+</span></a>
                </section>
            </footer>

        </article>

    {{/foreach}}

    {{#if pagination}}
    <div class="pagination">
        {{{pagination}}}
    </div>

    {{/if}}

</main>
{{> footer}}
